<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/tasks">TRELLO</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-dropdown">
        <a href="#">Options</a>
        <ul class="dropdown">
          <li><a href="users/edit">Profile</a></li>
          <li><a href="/users/sign_out" data-method="delete" rel="nofollow">Logout</a></li>
        </ul>
      </li>
    </ul>
  </section>
</nav>

